{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
{% endblock %}

{%block title %} Forgot Password {% endblock %}

{% block content %}
  <main role="main" class="container">
        <div class="row">
          <div class="col-md-offset-5 col-md-6">
              <div class="form-login">
              <h4>Forgot Password</h4>
              <form id="forgot_password" method="post">
              <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="TigerId(ex:abc0012)" />
              <br />
              <div class="wrapper">
              <span class="group-btn">
                  <input type="submit" id="userLogin" class="btn btn-primary btn-md" onclick=""><i class="fa fa-sign-in"></i></button>
                  <p><div id="error"></div></p>
              </span>
              <br />
              {% if password_info %}
                <p>{{ password_info }}</p>
              {% endif %}
            </form>
              </div>
            </div>
          </div>
      </div>
  </main>
{% endblock %}
