{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
{% endblock %}

{%block title %} Forgot Password {% endblock %}

{% block content %}
    <form action="{{ url_for('forgot_password') }}" method="post">
        <input type="text" name="userName" placeholder="TigerId(eg.abc0012)" /><br />
        <input type="password" name="userPassword" placeholder="Password" /><br/>
        <input type="password" name="verifyPassword" placeholder="Verify Password" /><br/>
        <input type="submit" value="Change Password" />
    </form>
    {% if password_info %}
        {{ password_info }}
    {% endif %}
{% endblock %}
